@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --color-primary: #3D68C5;
  --color-primary-lighten: #6688D1;
  --color-primary-darken: #3054A1;
  --color-secondary: #AAC3FA;
  --color-secondary-lighten: #D8E4FD;
  --color-secondary-darken: #78A0F7;
  --color-light-red: #fba5a5;
  --color-light-green: #93fbb7;

  --color-bg-backgroundBlock-light: #ffffff;
  --color-bg-backgroundBlock-dark: #21212C;

}

